[bumpversion]
current_version = 0.3.0
commit = False
tag = False

[bumpversion:file:README.md]
search = **Current version:** {current_version}
replace = **Current version:** {new_version}

[bumpversion:file:00-executive_summary.md]
search = **Revision: {current_version}**
replace = **Revision: {new_version}**
